@font-face {
    font-family: 'cabin';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/cabin-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'cabin';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/cabin-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'cabin';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/cabin-italic-webfont.woff') format('woff');
}