.items {
    h3, form {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header header {
        @include respond-from($screen-sm) {
            @include flex(0 0 auto);
            padding-right: 20px;
        }
    }

    .inputform {
        padding: 7px;
        min-height: 50px;

        @include flex(1);
        @include flexbox;

        label, input {
            color: white;
            font-size: 16px;
            font-weight: normal;
            line-height: 32px;
            padding-right: 10px;
        }

        label {
            line-height: 37px;
        }

        input {
            @include flex(1);
            height: 30px;
            padding-left: 5px;
            padding-right: 5px;
            border: 1px solid white;
            background: $basecolor;
        }
    }
}