.navbar {
    height: $navbar-height;
    background: black;
    color: white;
    border-bottom: 5px solid $red;

    h1 {
        margin-top: 5px;
    }
}

.navbar-offset {
    top: $navbar-height + 10;
}

.navbar .glyphicon {
    font-size: 30px;
    color: white;

    &:hover {
        color: $red;
    }
}
