.overlay {
    @include transition(0.5s);
    position: absolute;
    @include pos(0);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    background: $basecolor;
    color: white;
    z-index: 2;
    text-align: center;

    h1 {
        font-size: 72px;
    }

    .logo {
        @include logo;
        @include wh(100%, 150px);
    }
}

.overlay.overlay-show {
    @include transform( translate3d(0, 0, 0) );
}

.overlay.overlay-hide {
    @include transform( translate3d(0, -100%, 0) );
}