<div class="col-md-4 scroll-wrapper navbar-offset">
    <div class="scroll-container">
        <form ng-submit="addList()">
            <input class="form-control" type="text" ng-model="newList" />
        </form>

        <ul>
            <li ng-repeat="list in lists | orderBy:position"
                class="clearfix"
            >
                <span class="glyphicon glyphicon-list"
                      ng-show="list.id === currentListId"
                ></span>

                <a ng-click="showItems(list.id)">
                    {{list.title}}
                </a>

                <button class="btn btn-link pull-right"
                        ng-click="deleteList(list)"
                >
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </li>
        </ul>
    </div>
</div>