<div class="container-fluid scroll-wrapper navbar">
    <div class="col-md-6">
        <h1>
            Kittylist
            <small ng-show="loading">Loading...</small>
        </h1>
    </div>

    <div class="col-md-6">
        <button ng-show="state == 'list'"
                class="btn btn-link pull-right"
                ng-click="go('settings')"
        >
            <span class="glyphicon glyphicon-cog"></span>
        </button>

        <button ng-show="state == 'settings'"
                class="btn btn-link pull-right"
                ng-click="go('list')"
        >
            <span class="glyphicon glyphicon-list"></span>
        </button>
    </div>
</div>