@font-face {
  font-family: 'cabin';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/cabin-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'cabin';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/cabin-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: 'cabin';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/cabin-italic-webfont.woff") format("woff");
}

/* line 1, scss/_base.scss */
* {
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Cabin', 'Helvetica Neueu', Helvetica, Arial, sans-serif;
}

/* line 7, scss/_base.scss */
a, button, a:focus, button:focus {
  outline: none !important;
}

/* line 11, scss/_base.scss */
a {
  cursor: pointer;
}

/* line 15, scss/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 1, scss/_pane.scss */
.pane-col, .pane-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

/* line 7, scss/_pane.scss */
.pane-col {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 11, scss/_pane.scss */
.pane-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* line 15, scss/_pane.scss */
.pane-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* line 21, scss/_pane.scss */
.pane-content {
  padding: 10px;
}

/* line 4, scss/_header.scss */
.header {
  color: white;
  background: #16a085;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 45px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-shadow: 0 -2px 11px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 -2px 11px rgba(0, 0, 0, 0.6);
  box-shadow: 0 -2px 11px rgba(0, 0, 0, 0.6);
}
/* line 12, scss/_header.scss */
.header header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 45px;
  padding-left: 10px;
}

/* line 21, scss/_header.scss */
.header .glyphicon {
  font-size: 24px;
  color: white;
}

/* line 26, scss/_header.scss */
.header .btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 45px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
}

/* line 1, scss/_lists.scss */
.lists {
  background: #16a085;
  color: white;
  overflow: hidden;
  *zoom: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  /* line 1, scss/_lists.scss */
  .lists {
    width: 400px;
  }
}
@media (max-width: 767px) {
  /* line 1, scss/_lists.scss */
  .lists {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  /* line 18, scss/_lists.scss */
  .lists.lists-hidden {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  /* line 22, scss/_lists.scss */
  .lists.lists-visible {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* line 1, scss/_overlay.scss */
.overlay {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #16a085;
  color: white;
  z-index: 2;
}
/* line 13, scss/_overlay.scss */
.overlay h1 {
  font-size: 72px;
}

/* line 18, scss/_overlay.scss */
.overlay.overlay-show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 22, scss/_overlay.scss */
.overlay.overlay-hide {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 3, scss/_item-list.scss */
.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 8, scss/_item-list.scss */
.item-list li {
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #16a085;
}
/* line 15, scss/_item-list.scss */
.item-list .item-list-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  font-size: 16px;
  line-height: 50px;
  padding-left: 10px;
}
/* line 23, scss/_item-list.scss */
.item-list .btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50px;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}
/* line 27, scss/_item-list.scss */
.item-list .btn.item-list-leftbutton {
  border-right: 1px solid #16a085;
}
/* line 31, scss/_item-list.scss */
.item-list .btn.item-list-rightbutton {
  border-left: 1px solid #16a085;
}

/* line 37, scss/_item-list.scss */
.no-touch .item-list .btn {
  display: none;
}
/* line 42, scss/_item-list.scss */
.no-touch .item-list li:hover .btn,
.no-touch .item-list .item-list-never-hide {
  display: block;
}

/* line 48, scss/_item-list.scss */
.item-list-greensea li {
  border-bottom: 1px solid white;
}
/* line 52, scss/_item-list.scss */
.item-list-greensea li, .item-list-greensea a, .item-list-greensea a:hover, .item-list-greensea span, .item-list-greensea i {
  color: white;
  text-decoration: none;
}
/* line 57, scss/_item-list.scss */
.no-touch .item-list-greensea li:hover, .item-list-greensea .item-list-selected {
  background: #2c3e50;
}
/* line 61, scss/_item-list.scss */
.item-list-greensea .btn.item-list-leftbutton {
  border-right: 1px solid white;
}
/* line 65, scss/_item-list.scss */
.item-list-greensea .btn.item-list-rightbutton {
  border-left: 1px solid white;
}

/* line 2, scss/_items.scss */
.items h3, .items form {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 7, scss/_items.scss */
.items .inputform {
  padding: 10px;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 13, scss/_items.scss */
.items .inputform label, .items .inputform input {
  color: #16a085;
  font-size: 16px;
  font-weight: normal;
  line-height: 35px;
  padding-right: 10px;
}
/* line 21, scss/_items.scss */
.items .inputform input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 35px;
  padding: 5px;
  border: 1px solid #16a085;
}
