<div class="header">
    <header>Settings</header>

    <a class="btn btn-link pull-right"
       ng-click="close()"
    >
        <span class="glyphicon glyphicon-list"></span>
    </a>
</div>

<div class="pane-scroll pane-content">
    <h2>Import</h2>

    <p>Import a Wunderlist backup JSON.</h2>

    <jsonimporter on-complete="importWunderlist(json)"></jsonimporter>

    <h2>Logout</h2>

    <p>Logout from Dropbox.</p>

    <button class="btn btn-primary" ng-click="logout()">Logout</button>
</div>