<div class="header">
    <header>Settings</header>

    <a class="btn btn-link pull-right"
       ng-click="close()"
    >
        <span class="glyphicon glyphicon-list"></span>
    </a>
</div>

<div class="pane-scroll pane-content">
    <section>
        <h2>Import</h2>

        <p>Import a Wunderlist backup JSON.</p>

        <jsonimporter on-complete="importWunderlist(json)"></jsonimporter>
    </section>

    <section>
        <h2>Logout</h2>

        <p>Logout from Dropbox.</p>

        <button class="btn btn-primary" ng-click="logout()">Logout</button>
    </section>

    <section>
        <h2>About</h2>

        <p>Strikeout is an open source webapp created by <a href="http://www.haykranen.nl">Hay Kranen</a>.
        To report bugs, request features or see the code, please check out <a href="https://github.com/hay/strikeout">Strikeout on Github</a>.</p>
    </section>
</div>